@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src:
    local("Cuprum"), 
    local("Cuprum-Regular"),
    url("../fonts/cuprum.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src:
    local("Cuprum Bold"), 
    local("Cuprum-Bold"),
    url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src:
    local("Cuprum Bold Italic"), 
    local("Cuprum-BoldItalic"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src:
    local("Cuprum Italic"), 
    local("Cuprum-Italic"),
    url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("PT Sans"), 
    local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    local("PT Sans Bold"), 
    local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2");
}

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-check-oncalm {
    width: 27px;
    height: 23px;
    background-position: -10px -10px;
}

.sprite-delivery {
    width: 78px;
    height: 63px;
    background-position: -57px -10px;
}

.sprite-icon-basket {
    width: 17px;
    height: 16px;
    background-position: -155px -10px;
}

.sprite-icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -192px -10px;
}

.sprite-icon-check-onactive {
    width: 27px;
    height: 23px;
    background-position: -226px -10px;
}

.sprite-icon-circle-dotactive {
    width: 25px;
    height: 25px;
    background-position: -10px -53px;
}

.sprite-icon-circle-dotcalm {
    width: 25px;
    height: 25px;
    background-position: -155px -53px;
}

.sprite-icon-facebook {
    width: 10px;
    height: 18px;
    background-position: -200px -53px;
}

.sprite-icon-home {
    width: 15px;
    height: 12px;
    background-position: -230px -53px;
}

.sprite-icon-instagram {
    width: 17px;
    height: 17px;
    background-position: -230px -85px;
}

.sprite-icon-left {
    width: 22px;
    height: 40px;
    background-position: -10px -122px;
}

.sprite-icon-login {
    width: 20px;
    height: 17px;
    background-position: -52px -122px;
}

.sprite-icon-loginblue {
    width: 20px;
    height: 17px;
    background-position: -92px -122px;
}

.sprite-icon-logout {
    width: 21px;
    height: 17px;
    background-position: -132px -122px;
}

.sprite-icon-logoutblue {
    width: 21px;
    height: 17px;
    background-position: -173px -122px;
}

.sprite-icon-phone {
    width: 19px;
    height: 19px;
    background-position: -214px -122px;
}

.sprite-icon-right {
    width: 22px;
    height: 40px;
    background-position: -52px -161px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -94px -161px;
}

.sprite-icon-searchred {
    width: 17px;
    height: 17px;
    background-position: -131px -161px;
}

.sprite-icon-user {
    width: 20px;
    height: 18px;
    background-position: -168px -161px;
}

.sprite-icon-userblue {
    width: 20px;
    height: 18px;
    background-position: -208px -161px;
}

.sprite-icon-vk {
    width: 20px;
    height: 12px;
    background-position: -10px -199px;
}

.sprite-instruments {
    width: 75px;
    height: 61px;
    background-position: -273px -10px;
}

.sprite-materials {
    width: 44px;
    height: 65px;
    background-position: -267px -91px;
}

.sprite-sales {
    width: 59px;
    height: 72px;
    background-position: -248px -176px;
}

.sprite-technics {
    width: 78px;
    height: 62px;
    background-position: -10px -268px;
}

body {
  min-width: 960px;
  
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.upper-header {
  font-size: 0;
  
  color: #ffffff;
  background-color: #293449;
}

.upper-header .common {
  display: inline-block;
 
  font-size: 17px; 
  vertical-align: top;
}

.header-logo {
  position: relative;
  
  display: inline-block;
  padding: 10px 55px;
  padding-bottom: 9px;
  
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  
  color: #ffffff;
  text-decoration: none;
  background-color: #ee3643;
  
}
.header-logo::after {
  content: "";
  position: absolute;
  top: 42px;
  left: 0;
  
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:hover::after {
  background-color: #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
}

.header-logo:active::after {
  background-color: #8e1e26;
}

.header-search {
  position: relative;
}

.header-search input {
  border: none;
  outline: none;
}

.header-search input[type="search"] {
  width: 270px;
  padding: 12px 48px;
  padding-right: 0;
  
  background-color: #293449;
}

input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}  

input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.header-search input[type="submit"] {
  position: absolute;
  left: 17px;
  top: 13px;
  z-index: 1;
 
  width: 17px;
  height: 17px;
  
  font-size: 0;
  
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -94px -161px;
  opacity: 0.3;
}

.header-search input:hover,
.header-search input:hover + input {
  background-color: #212a3a;
  opacity: 1;
}

.header-search input:focus {
  color: #000000;
  background: #ffffff;
}

.header-search input:focus + input {
  background-color: #ffffff;
  background-position: -131px -161px;
  opacity: 1;
}

.bookmarks {
  position: relative;
  
  display: block;
  padding: 12px;
  padding-left: 44px;
  padding-right: 28px;
  
  color: #ffffff;
  text-decoration: none;
}

.bookmarks:hover {
  background-color: #212a3a;
}

.bookmarks:active {
  background-color: #161d29;
  opacity: 0.6;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 18px;
  
  width: 14px;
  height: 16px;
  
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -192px -10px;
  opacity: 0.3;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:active::before {
  opacity: 0.5;
}

.cart {
  position: relative;
  
  display: block;
  padding: 12px;
  padding-left: 50px;
  padding-right: 29px;
  
  color: #ffffff;
  text-decoration: none;
}

.cart:hover {
  background-color: #212a3a;
}

.cart:active {
  background-color: #161d29;
  opacity: 0.6;
}

.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  
  width: 17px;
  height: 16px;
  
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -155px -10px;
  opacity: 0.3;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}

.header-cart .active {
  padding-left: 49px;
  padding-right: 25px;
  
  background-color: #ee3643;
}

.header-order { 
  padding: 12px;
  padding-right: 22px;
  padding-left: 21px;

  font-size: 17px;
  line-height: 18px;

  color: #ffffff;
  text-decoration: none;
  background-color: #63a63e;
}

.header-order:hover {
  background-color: #5fbb2d;
}

.header-order:active {
  background-color: #518534;
  opacity: 0.51;
}

.bottom-header {
  padding-top: 46px;
  padding-bottom: 60px;
  margin-bottom: 59px;
  
  font-size: 0;
  
  background-color: #f1f5f7;
}

.bottom-header .general {
  display: inline-block;
  margin-right: 20px;
  
  vertical-align: top;
}

.bottom-header .general:nth-child(3n) {
  margin-right: 0;
}

.header-information {
  width: 197px;
  padding-right: 51px;
  padding-left: 52px;
  margin: 3px 0;
  margin-bottom: 40px;
  
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  
  color: #ee3643;
}

.header-contacts {
  width: 271px;
  padding-right: 30px;
  
  font-size: 0;
}

.header-contacts .tel {
  position: relative;
  
  display: inline-block;
  padding: 11px;
  padding-left: 71px;
  padding-right: 50px;
  
  font-size: 21px;
  vertical-align: top;
  
  color: #e9292a;
  border: 3px solid #ffffff;
}

.header-contacts .tel::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  
  width: 19px;
  height: 19px;
  
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -214px -122px;
}

.header-contacts .address {
  display: inline-block;
  padding: 5px 10px;
  
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  
  color: #32425c;
}

.user-block {
  padding-left: 15px;
  
  font-size: 0;
}

.login {
  position: relative;
  
  display: inline-block;
  padding: 13px;
  padding-left: 48px;
  padding-right: 26px;
  margin-right: 10px;
  
  font-size: 21px;
  line-height: 18px;
  vertical-align: top;
  
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.login::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  
  width: 20px;
  height: 17px;
    
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -52px -122px;
}

.login:hover {
  color: #ee3643;
}

.login:hover::before {
  background-position: -92px -122px;
}

.login:active {
  color: #000000;
  opacity: 0.3;
}

.login:active::before {
  background-position: -52px -122px;
}

.registry {
  display: inline-block;
  padding: 13px 25px;
  
  font-size: 21px;
  line-height: 18px;
  vertical-align: top;
  
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.registry:hover {
  color: #ee3643;
}

.registry:active {
  color: #000000;
  opacity: 0.3;
}

.authorized-user {
  font-size: 0;
}

.user-name {
  position: relative;
  
  display: inline-block;
  padding: 13px;
  padding-left: 47px;
  padding-right: 8px;
  
  font-size: 21px;
  vertical-align: top;
  
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.user-name::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  
  width: 20px;
  height: 18px;
  
  background: transparent url("../img/sprite.png") no-repeat;  
  background-position: -168px -161px;
}

.user-name:hover::before {
  background-position: -245px -209px;
}

.user-name:active::before {
  background-position: -208px -161px;
}

.user-name:active,
.user-name:active + .logout {
  background-color: #ffffff;
  opacity: 0.3;
}

.logout {
  position: relative;
  
  display: inline-block;
  width: 58px;
  height: 45px;
  
  vertical-align: top;

  background-color: #ffffff;
}

.logout::after {
  content:"";
  position: absolute;
  left: 30px;
  top: 14px;
  
  width: 21px;
  height: 17px;
  
  background: #ffffff url("../img/sprite.png") no-repeat;
  background-position: -132px -122px;
}

.logout:hover::after {
  background-position: -173px -122px;
}

.logout:active::after {
  background-position: -132px -122px;
}

.user-account {
  margin: 0;
  padding: 0;
  
  font-size: 0;
  
  list-style: none;
}

.user-account li {
  display: inline-block;
  padding-top: 6px;
  
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  text-align: left; 
}
.my-order,
.personal-account {
  color: #49586f;
  text-decoration: underline;
}

.my-order {
  position: relative;
  
  margin-left: 18px;
  margin-right: 32px;
}

.my-order::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 89px;
  
  width: 4px;
  height: 4px;
  
  border-radius: 50%;
  background-color: #32425c;
}

.my-order:hover,
.personal-account:hover {
  color: #ee3643;
} 

.my-order:active,
.personal-account:active {
  color: #49586f;
  opacity: 0.3;
}

.main-navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 0;
  text-align: center;
}

.main-navigation li {
  display: inline-block;
  
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 22px 31px;
  
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5;
  box-shadow: none;
}

.inner-page .bottom-header {
  margin-bottom: 0;
}

.categories {  
  margin-bottom: 55px;
}

.category {
  position: relative; 
  
  float: left;
  width: 256px;
  height: 79px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 22px;
}

.category:nth-child(n+3) {
  margin-right: 0;
}

.category:nth-child(6) {
  margin-bottom: 0;
}

.category-title {
  margin: 0;
  margin-bottom: 12px;
  
  font-size: 24px;
  line-height: 30px; 
  font-weight: 700;
  color: #ffffff;
}

.btn-categories {
  display: inline-block;
  width: 135px;
  padding: 10px 0;
  margin-right: 23px;
  
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-categories:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-categories:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.category-image {
  position: absolute;
  top: 31px;

  background: transparent url("../img/sprite.png") no-repeat;
}

.image-materials {
  right: 43px;
  
  width: 44px;
  height: 65px;
  
  background-position: -267px -91px;
}

.image-instruments {
  right: 28px;
  top: 33px;
  
  width: 75px;
  height: 61px;
  
  background-position: -273px -10px;
}

.image-technics {
  right: 30px;
  
  width: 78px;
  height: 62px;
  
  background-position: -10px -268px;
}

.image-sales {
  top: 26px;
  right: 44px;
  
  width: 59px;
  height: 72px;
  
  background-position: -248px -176px;
}

.image-delivery {
  right: 31px;
  
  width: 78px;
  height: 63px;
  
  background-position: -57px -10px;
}

.category-materials {
  background-color: #f6b22d; 
}

.category-instruments {
  background-color: #4aafde;
}

.category-technics {
  background-color: #cc79d1;
}

.category-sales {
  background-color: #85d179;
}

.category-delivery {
  background-color: #f6b22d;
}

.slider {
  position: relative;
  
  float: left;
  margin-right: 20px;
  width: 620px;
  height: 267px;
}

.slider input[type="radio"] {
  position:absolute;
  opacity:0;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 50%;
  
  height: 10px;
  width: 140px;
  margin-left: -70px;
  
  text-align: center;
  z-index: 100;
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  
  vertical-align: top;
  
  border: 3px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-prev:checked ~ .slider-controls label[for="btn-prev"],
#btn-next:checked ~ .slider-controls label[for="btn-next"] {
  background-color: #ee3643;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color:rgba(255,255,0,0.1);
}

.slide-text {
  width: 300px;
  padding-top: 26px; 
  padding-left: 22px;
  
  color: #ffffff;
}

.slide-title {
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-text p {
  margin: 6px 0;
  
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: 10px 0;
  
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 3px;
}

.btn-catalog {
  padding-left: 50px;
  padding-right: 45px;
  margin-top: 118px;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.slide:nth-child(1) {
  background: #574637 url("../img/firstslide.png") no-repeat 100% 100%;
}

.slide:nth-child(2) {
  background: #574637 url("../img/secondslide.png") no-repeat 100% 100%;
}

.slide {
  display: none;
}

#btn-prev:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-next:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

.popular-header {
  margin: 0;
  margin-bottom: 20px;

  
  background-color: #f7f3ec;
}

.popular-title {
  float: left;
  margin: 0;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 31px;
  
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  
  color: #32425c;
}

.btn-popular {
  float: right;
  
  width: 254px;
  margin: 26px;
  margin-right: 24px;
}
.popular .catalog-items {
  width: 940px
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  /* только для оформления сетки */
  background-color: cornsilk;
  position: relative;
  
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  vertical-align: top;
  text-align: center;
  
  border: 1px solid #e5e5e5;
}
.catalog-actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  padding: 45px 0;
  
  background-color: #ffffff;
}

.item-buy,
.item-bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  
  color: #ffffff;
  background-color: #63a63e;
}

.item-image {
  margin: 0;
  
  overflow: hidden;
}

.item-image img {
  max-width: 100%;
}

.item-name {
  margin-bottom: 15px;
  padding: 0 30px;
  
  font-size: 18px;
  line-height: 20px;
  
  color: #000000;
}

.item-price {
  min-height: 20px;
  margin-bottom: 13px;
  
  font-size: 17px;
  line-height: 18px;
  
  text-decoration: line-through;
  
  color: #999999;
}

.new-price {
  position: relative;
  
  width: 70px;
  margin: 0 auto 20px;
  padding: 11px 35px;
  
  font-size: 17px;
  line-height: 18px;
  
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.column-catalog .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.popular .catalog-item:last-child {
  margin-right: 0;
}

.popular-producers {
  margin-bottom: 85px;
  line-height: 135px;
}

.producers {
  float: left;
  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  text-align: center;
  border: 1px solid #e5e5e5;
}

.producers:nth-child(4n) {
  margin-right: 0;
}

.producers:nth-child(n+5) {
  margin-bottom: 0;
}

.producers img {
  vertical-align: middle;
}

.producers:hover {
  border: none;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producers:active {
  border: none;
  opacity: 0.3;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.services {
  /* только для оформления сетки */
  background-color: burlywood;
  padding-top: 68px;
  padding-bottom: 102px;
  margin-bottom: 82px;
}

.services-header {
  /* только для оформления сетки */
  background-color: chartreuse;
  width: 400px;
  margin-bottom: 74px;
}

.services-slider {
  /* только для оформления сетки */
  background-color: azure;
  min-height: 183px;
  float: left;
  width: 240px;
  margin-right: 80px;
}

.services-description {
  /* только для оформления сетки */
  background-color: darkgray;
  float: left;
  width: 300px;
}

.company {
  margin-bottom: 86px;
}

.company-info {
  /* только для оформления сетки */
  background-color: darkgoldenrod;
  min-height: 368px;
  float: left;
  width: 540px;
  margin-right: 100px;
}

.company-map {
  /* только для оформления сетки */
  background-color: darkolivegreen;
  min-height: 368px;
  float: right;
  width: 300px;
}

.upper-footer {
  padding-bottom: 53px;
  
  background-color: #32425c;
  color: #ffffff;
}

.footer-logo {
  display: inline-block;
  padding: 19px 42px;
  margin-bottom: 32px;
  
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  
  color: #ffffff;
  text-decoration: none;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 #b52933;
}

.footer-contacts {
  float: left;
  width: 380px;
  margin: 0;
  margin-right: 10px;
  
  font-size: 18px;
  line-height: 24px;
}

.second-nav {
  float: right;
  width: 550px;
  margin-top: 35px;
}

.second-nav ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 0;
}

.second-nav li {
  display: inline-block;
  margin-right: 59px;
  
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
}

.second-nav li:last-child {
  margin-right: 0;
}

.second-nav a {
  color: #ffffff;
  text-decoration: none;
}

.second-nav a:hover {
  text-decoration: underline;
}

.second-nav a:active {
  text-decoration: none;
  opacity: 0.5;
}

.third-nav {
  /* только для оформления сетки */
  background-color: azure;
  float: right;
  width: 540px;
}

.third-nav ul {
  margin: 0;
  padding: 0;
  padding-left: 13px;
  
  list-style: none;
  font-size: 0;
}

.third-nav li {
  display: inline-block;
  margin-right: 60px;
  
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
}

.third-nav li:last-child {
  margin-right: 0;
}

.third-nav a {
  color: #f1c77e;
  text-decoration: none;
}

.third-nav a:hover {
  text-decoration: underline;
}

.third-nav a:active {
  text-decoration: none;
  opacity: 0.5;
}

.bottom-footer {
  padding-top: 40px;
  padding-bottom: 35px;
  
  background-color: #293449;
  color: #ffffff;
}

.footer-copyright {
  float: left;
  width: 230px;
  margin: 0;
  margin-right: 160px;
  
  font-size: 16px;
}

.footer-social {
  /* только для оформления сетки */
  background-color: chartreuse;

  float: left;
  width: 150px;
  margin-right: 100px;
  
  text-align: center;
}

.social-btn {
  display: inline-block;
  
  width: 42px;
  height: 42px;
  margin: 0;
  
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  
  border-radius: 21px;
  background: #212a3a url("../img/sprite.png") no-repeat;
}

.social-btn:hover {
  background-color: #ee3643;
}

.social-btn:active {
  background-color: #ee3643;
}

.social-btn-vk {
  background-position: -10px -199px;
}

.social-btn-fb {
  background-position: -200px -53px;
}

.social-btn-inst {
  background-position: -230px -85px;
}

.footer-feedback {
  float: left;
  width: 140px;
  
  font-size: 16px;
}

.footer-feedback p {
  margin: 0;
}

.mail {
  color: #f1c77e;
  text-decoration: none;
}

.mail:hover {
  text-decoration: underline;
}

.mail:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-designed {
  float: right;
  max-width: 140px;
  margin-right: 15px;
  
  font-size: 16px;
}

.footer-designed p {
  margin: 0;
  
  text-align: left;
}

.breadcrumbs {
  /* только для оформления сетки */
  background-color: blueviolet;
  padding: 25px 0;
}

.breadcrumbs li {
  display: inline-block;
}

.main-head {
  /* только для оформления сетки */
  background-color: cornflowerblue;
  min-height: 89px;
  margin-bottom: 20px;
}

.column-filters {
  /* только для оформления сетки */
  background-color: darkgray;
  float: left;
  width: 220px;
  margin-right: 20px;
}

.column-header {
  /* только для оформления сетки */
  background-color: greenyellow;
  min-height: 38px;
  float: left;
  width: 220px;
  margin-bottom: 20px;
}

.range-filter {
  /* только для оформления сетки */
  background-color: hotpink;
  min-height: 162px;
  margin-bottom: 25px;
}

.producers-filter {
  /* только для оформления сетки */
  background-color: forestgreen;
  min-height: 262px;
}

.power-filter {
  /* только для оформления сетки */
  background-color: darkmagenta;
  min-height: 634px;
}

.column-catalog {
  /* только для оформления сетки */
  background-color: yellow;
  float: left;
  width: 700px;
}

.catalog-sorting {
  /* только для оформления сетки */
  background-color: orange;
  min-height: 38px;
  margin-bottom: 20px;
}

.sorting-types {
  margin: 0;
  padding: 0;
}

.sorting-types li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.paginator {
  /* только для оформления сетки */
  background-color: darkseagreen;
  min-height: 38px;
  width: 300px;
  margin-bottom: 60px;
}

.about-perforator {
  /* только для оформления сетки */
  background-color: darkcyan;
  padding-top: 68px;
  padding-bottom: 73px;
}
